body {
  max-width: 768px;
  height: 100lvh;
  margin: 0 auto;

  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
