spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:database
    username: sa
    password:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 300MB

  lifecycle:
    timeout-per-shutdown-phase: "10s"

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        default_batch_fetch_size: 30
        format_sql: true
        jdbc.time_zone: Asia/Seoul
    show-sql: true

cors:
  max-age: 3600
  allowed-origins: http://localhost:3000, https://haengdong.pro, https://dev.haengdong.pro, https://app.haengdong.pro

security:
  jwt:
    token:
      secret-key: akdcyqkqhrkawcy12KKM@D345dj@dkmwe3245kadsklsdkld
      expire-length: 604800000

cookie:
  http-only: false
  secure: false
  path: /
  same-site: lax
  max-age: 7D

image:
  bucket: haeng-dong
  directory: image/
  base-url: https://d3a4djq153056h.cloudfront.net/

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, logfile, prometheus
    health:
      show-details: always

  endpoint:
    prometheus:
      enabled: true

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  tomcat:
    mbeanregistry:
      enabled: true
    threads:
      max: 50
  shutdown: graceful

kakao:
  base-uri: https://kauth.kakao.com
  token-request-uri: /oauth/token
  unlink-request-uri: https://kapi.kakao.com/v1/user/unlink
  client-id: cb2f396f1f09ecf3d5cd74565c3526e7
  admin-key: 61ae31d6cadbf43154b54ca760ec1c64
  oauth-code-uri: https://kauth.kakao.com/oauth/authorize?client_id=%s&redirect_uri=%s&response_type=code&scope=openid

---

cookie:
  http-only: true
  secure: true
  same-site: none
  domain: haengdong.pro

spring:
  config:
    activate:
      on-profile: prod
  datasource:
    hikari:
      connection-timeout: 60000
      validation-timeout: 5000
      primary:
        jdbc-url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driver-class-name: com.mysql.cj.jdbc.Driver
      secondary:
        jdbc-url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

---

spring:
  config:
    import: classpath:config/application-dev.yml
    activate:
      on-profile: dev
