# ===============================================
#          Default Profile (local H2) & Common Settings
# ===============================================
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:database
    username: sa
    password:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 300MB
  lifecycle:
    timeout-per-shutdown-phase: "10s"
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        default_batch_fetch_size: 30
        format_sql: true
        jdbc.time_zone: Asia/Seoul
    show-sql: true

cors:
  max-age: 3600
  allowed-origins: http://localhost:3000, https://haengdong.pro, https://dev.haengdong.pro, https://app.haengdong.pro

security:
  jwt:
    token:
      expire-length: 604800000

cookie:
  http-only: false
  secure: false
  path: /
  same-site: none
  max-age: 7D

image:
  bucket: haeng-dong
  directory: image/
  base-url: https://d3a4djq153056h.cloudfront.net/

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, logfile, prometheus
    health:
      show-details: always
  endpoint:
    prometheus:
      enabled: true

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  tomcat:
    mbeanregistry:
      enabled: true
    threads:
      max: 50
  shutdown: graceful

kakao:
  base-uri: https://kauth.kakao.com
  token-request-uri: /oauth/token
  unlink-request-uri: https://kapi.kakao.com/v1/user/unlink
  oauth-code-uri: https://kauth.kakao.com/oauth/authorize?client_id=%s&redirect_uri=%s&response_type=code&scope=openid

---

# ===============================================
#             Production Profile
# ===============================================
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      connection-timeout: 60000
      validation-timeout: 5000
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: validate # Hardcoded for safety
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  h2:
    console:
      enabled: false # Disable H2 console in prod

security:
  jwt:
    token:
      secret-key: ${JWT_SECRET_KEY}

kakao:
  client-id: ${KAKAO_CLIENT_ID}
  admin-key: ${KAKAO_ADMIN_KEY}

# --- Prod-specific Overrides ---
cookie:
  http-only: true
  secure: true
  domain: haengdong.pro
