name: frontend-pull-request

on:
  pull_request:
    types: [opened, synchronize]
    branches: [main, fe-dev]
    paths:
      - 'client/**'

jobs:
  test:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        shell: bash
        working-directory: ./client

    steps:
    - name: Checkout code
      uses: actions/checkout@v2  

    - name: Set up Node.js
      uses: actions/setup-node@v2 
      with:
        node-version: '20.15.1'

    - name: Install dependencies
      working-directory: ./client
      run: npm install  

    - name: Run lint
      working-directory: ./client
      run: npm run lint  

    - name: Run cypress
      working-directory: ./client
      run: |
        npm run dev
        npm run cypress
